DATABASE_URL="postgresql://postgres:dnc123@localhost:6500/dnc_hotel?schema=public"
JWT_SECRET=xY+rlcMwfGYcMOhmfOMmL7PCOSKoP+42ppuAaGqdQyM=
SMTP=smtps://guilherme.olv.05:pmueblsiyiogyhmm@smtp.gmail.com
EMAIL_USER=guilherme.olv.05@gmail.com
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=xY+rlcMwfGYcMOhmfOMmL7PCOSKoP+42ppuAaGqdQyM=
